
*{
    padding: 0;
    margin: 0;
}
body{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ---------------------------------------------  */
/* div with all elements  */
main{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* ---------------------------------------------  */
/* elements of input excluding the map  */
header{
    height: 250px;
    width: 100%;
    background-image: url('../../images/pattern-bg.png');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: visible;
    z-index: 2;
}
/* ---------------------------------------------  */

/* Title  */
#title{
    position: relative;
    top: -35px;
}


/* input section  */
.box-input{
    position: relative;
    top: -20px;
    margin: 10px;
    display: flex;
    background-color: black;
    border-radius: 7px;
}

.box-input:hover{
    background-color: hsl(0, 0%, 17%);
}
input{
    width: 500px;
    border-radius: 7px 0 0 7px ;
    border: none;
    padding: 10px;
    text-align: justify;
}
input:focus {
    box-shadow: 0 0 0 0;
    outline: 0;
}

#arrow{
    width: 30px;
    height: max-content;
    transform: scale(0.35,0.35);
    background-color: none;
}


#arrow:hover{
    background-color: hsl(0, 0%, 17%);
}

/* ---------------------------------------------  */
/* the space where will recieve the response of the API (tag ul and li)  */
ul{
    background-color: white;
    position: absolute;
    top: 150px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 900px;
    height: 80px;
    border-radius: 15px;
    text-align: left;
}

li{ 
    padding-left: 20px;
    margin: 0;
    height: 60px;
    width: 300px;
    list-style: none;
    display: inline-block;
}
.data{
    position: relative;
    top: -12px;
}
#timezone>#timeData{
    position: relative;
    top: -1px;
    
}
#location, #time, #isp{
    border-left: 1px solid hsl(0, 0%, 59%);
}

/* ---------------------------------------------  */
/* MAP */
#map{
    z-index: 1;
    height: 400px;
    width: 100%;
}

/* ---------------------------------------------  */
/* ERRO Message */
.erro{
    position: absolute;
    bottom: 380px;
    z-index: 3;
    background-color: hsla(0, 0%, 0%, 0.808);
    width: 400px;
    text-align: center;
    display: flex;
    flex-direction: column;
    color: red;
    border-radius: 10px;
    display: none;   
}
