@media only screen and (max-width:400px){
    body{
        position: absolute;
        width: 100%;
        height: 100%;
    }
    main{
        height: 100%;
        width: 100%;
    }

    header{
        height: 400px;
    }

    .box-input{
        position: relative;
        top: -30px;
        width: 330px;
    }
    #input{
        width: 100px;
    }


    ul{
        font-size: 5px;
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: center;
        text-align: center;
        width: 330px;
        height: fit-content;
    }

    #location, #time, #isp{
        border-left: none;
    }

    #map{
        height: 100%;
        width: 100%;
    }
}